<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
<div fxFlex="50%">
<mat-toolbar>
  <mat-toolbar-row>
    <span>Event Details</span>
    <span class="example-spacer"></span>
    <button layout-align="end center" (click)="onclicklike()" mat-fab color="{{isLike ? 'accent' : 'primary'}}">
        <mat-icon [hidden]="!isLike" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        {{isLike ? '' : 'Like'}}
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-list>
  <mat-list-item>
    Program ID : {{ event ? event.program_id : "" }}
  </mat-list-item>
  <mat-list-item>
    Program Name : {{ event ? event.program_name : "" }}
  </mat-list-item>
  <mat-list-item>
    Program Type : {{ event ? event.type_name : "" }}
  </mat-list-item>
  <mat-list-item>
    Fee (HKD) : {{ event ? event.fee : "" }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    District : {{ event ? event.district : "" }}
  </mat-list-item>
  <mat-list-item>
    Venue : {{ event ? event.venue : "" }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Start Date : {{ event ? event.start_date : "" }}
  </mat-list-item>
  <mat-list-item>
    End Date : {{ event ? event.end_date : "" }}
  </mat-list-item>
  <mat-list-item>
    Days in Week : {{ event ? event.dayinweek : "" }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Time : {{ event.start_time ? event.start_time : "" }} - {{ event.end_time ? event.end_time : "" }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Quota : {{ event ? event.quota : "" }}
  </mat-list-item>
  <mat-list-item>
    Quota Left : {{ event.quota_left != 0 ? event.quota_left : "" }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Minimum enrollment age : {{ event ? event.min_age : "" }}
  </mat-list-item>
  <mat-list-item >
    Maximum enrollment age : {{ event.max_age == 99 ? "No limit" : event.max_age }}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Link: <a class="event_linkDisplay" href="{{event.url}}" target="_blank">{{ event ? event.url : "" }}</a>
  </mat-list-item>
</mat-list>
</div>

<div fxFlex>
    <mat-toolbar>
        <mat-toolbar-row>
<p>Event Comments</p>
</mat-toolbar-row>
</mat-toolbar>
<div class="container commentblk">
  <div *ngIf="comments.length!==0">
    <mat-card *ngFor="let comment of comments">
        <mat-card-header>
          <mat-card-title>
            <h6>{{ comment.username }}</h6>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ comment.usercomment }}</p>
        </mat-card-content>

    </mat-card>
  </div>
  <div *ngIf="comments.length===0">
    <p>No Comments</p>
  </div>
  <div>
    <div>
      <form (submit)="onSubmit()" [formGroup]="commentForm">
        <mat-form-field>
            <textarea matInput [(ngModel)]="currentusercomment" formControlName="comment" placeholder="Leave a comment" name="currentcomment"  required></textarea>
            <div *ngIf="isSubmit && formcomment.errors">
              <mat-error *ngIf="formcomment.errors.required">
              Please leave your comment!
              </mat-error>
            </div>
        </mat-form-field>
        <div>
            <button mat-flat-button type="submit" color="primary">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>

<button mat-button (click)="gotoevents()">Back to Event List</button>
