<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<br>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
  DEALINE IS 15 Dec!!!!!!!!
  </h2>
</div>
<br> <!--Don't delete this <br> important for footer-->
<div class="footer"><a href="https://www.lcsd.gov.hk/en/index.html">Leisure and Cultural Services Department</a> <span>||</span> Source: <a href="https://data.gov.hk/en-data/dataset/hk-lcsd-event-event-leisure">https://data.gov.hk/en-data/dataset/hk-lcsd-event-event-leisure</a></div>
