<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<br>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<!--Footer-->
<br> <!--Don't delete this <br> important for footer display-->
<div class="footer">
  <a href="https://www.lcsd.gov.hk/en/index.html" target="_blank">Leisure and Cultural Services Department </a>
  <span>||</span>
  Source: <a href="https://data.gov.hk/en-data/dataset/hk-lcsd-event-event-leisure" target="_blank">https://data.gov.hk/en-data/dataset/hk-lcsd-event-event-leisure</a>
</div>
