<h1>This is Admin Interface~</h1>

<mat-tab-group dynamicHeight>
<!-- User -->
<mat-tab label="Change User">
  <mat-accordion multi="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="New Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="New Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Update User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Retrieve User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Delete User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>
  </mat-accordion>
 </mat-tab>

<!-- Event -->
<mat-tab label="Change Event">
 <mat-accordion multi="false">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create Event
            </mat-panel-title>
            <mat-panel-description>
              Type event details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update User
            </mat-panel-title>
            <mat-panel-description>
              Type username and password
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Retrieve User
            </mat-panel-title>
            <mat-panel-description>
              Type username and password
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Delete User
            </mat-panel-title>
            <mat-panel-description>
              Type username and password
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field><br>
          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>
  </mat-accordion>
</mat-tab>
</mat-tab-group>
