<h1>This is Admin Interface~</h1>
<!--<button (click)="createUser()">click</button>-->
<mat-tab-group dynamicHeight>
<!-- User -->
<mat-tab label="Change User">
  <mat-accordion multi="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

<form [formGroup]="registerForm">
      <mat-form-field class="form-group">
        <input matInput placeholder="New Username" required class="form-control" formControlName="newUsername">
      </mat-form-field><br>

      <mat-form-field class="form-group">
        <input matInput placeholder="New Password" required class="form-control" formControlName="newPassword">
      </mat-form-field><br>
      <button mat-raised-button color="primary" (click)='createUser()'>Submit</button>
    </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Update User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="updateForm">
      <mat-form-field>
        <input name="preUpdateUsername" matInput placeholder="Previous Username" required class="form-control" formControlName="preUpdateUsername" required>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="New Username" required class="form-control" formControlName="updateNewUsername" required>
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="New Password" required class="form-control" formControlName="updateNewPassword" required>
      </mat-form-field><br>
      <button mat-raised-button color="primary" [formGroup]="updateForm" (click)='updateUser()'>Submit</button>
    </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Retrieve User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Delete User
        </mat-panel-title>
        <mat-panel-description>
          Type username and password
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field><br>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field><br>
      <button mat-raised-button color="primary">Submit</button>
    </mat-expansion-panel>
  </mat-accordion>
 </mat-tab>

<!-- Event -->
<mat-tab label="Change Event">
 <mat-accordion multi="false">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create Event
            </mat-panel-title>
            <mat-panel-description>
              Type event details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Program ID">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Program Name">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="District">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Venue">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Start Date">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="End Date">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Day in week">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Start Time">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="End Time">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Type Name">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Fee">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Quota">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Quota Left">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Minimum Age">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Maximum Age">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="URL">
          </mat-form-field><br>

          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Update Event
            </mat-panel-title>
            <mat-panel-description>
              Type event details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h6>Event to be updated</h6>
          <mat-form-field>
            <input matInput placeholder="Program ID">
          </mat-form-field><br>

          <h6>Update information</h6>
          <mat-form-field>
            <input matInput placeholder="Program ID">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Program Name">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="District">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Venue">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Start Date">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="End Date">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Day in week">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Start Time">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="End Time">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Type Name">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Fee">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Quota">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Quota Left">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Minimum Age">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="Maximum Age">
          </mat-form-field><br>

          <mat-form-field>
            <input matInput placeholder="URL">
          </mat-form-field><br>

          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Retrieve event
            </mat-panel-title>
            <mat-panel-description>
              Type event details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Program ID">
          </mat-form-field><br>

          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Delete Event
            </mat-panel-title>
            <mat-panel-description>
              Type event and details
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input matInput placeholder="Program ID">
          </mat-form-field><br>

          <button mat-raised-button color="primary">Submit</button>
        </mat-expansion-panel>
  </mat-accordion>
</mat-tab>
</mat-tab-group>
