<!-- Name: Lai Chun Hin     SID: 1155064573
     Name: Chan Wang Wai    SID: 1155063885
     Name: Fong Kee Win     SID: 1155100567  -->

<div class="row mt-3 mx-auto">
<div class="col-6">

<p>
<strong>Please upload CSV file with header in the following order:</strong><br>
"program_id", "program_name", "district", "venue", "start_date",<br>
"end_date", "dayinweek", "start_time", "end_time", "type_name",<br>
"fee", "quota", "quota_left" , "min_age", "max_age", "url"<br>
</p>
<div>
    <button mat-raised-button [disabled]="isLoading" color="primary" (click)="openInput()">
        Select File to Upload
    </button>
    <div class="mt-2 mb-2"><p>{{ uploadFile ? name : "No Selected File" }}</p></div>
  </div>

  <input id="fileInput" hidden type="file" (change)="fileChange($event.target.files)" >

  <mat-error *ngIf="!isCSV">The file is not a csv file.</mat-error>
  <div>
  <button mat-flat-button [disabled]="!uploadFile || !isCSV || isLoading" color="accent" (click)="upload()">Upload</button>
  </div>
  <mat-card *ngIf="isLoading">
      <mat-card-content>
        <h5>Result</h5>
        <mat-progress-bar
        class="example-margin"
        color="primary"
        mode="determine"
        [value]="progressvalue">
        </mat-progress-bar>
      </mat-card-content>
    </mat-card>

</div>
<div class="col-6">
  <p>
    <strong>Note:<br></strong>
    <small>
    "program_id" should be unique and it should follow PGM_CODE from the data online.<br>
    "program_name" is the name of program.<br>
    "district" is the district of the venue.<br>
    "venue" is the venue for the program.<br>
    "start_date" is the start date of the program, it should be in the format YYYY-MM-DD<br>
    "end_date" is the start date of the program, it should be in the format YYYY-MM-DD<br>
    "dayinweek" is the day in the week<br>
    "start_time" is the start time of the program, it should in the format XX:XX<br>
    "end_time" is the end time of the program, it should in the format XX:XX<br>
    "type_name" is the type of the program<br>
    "fee" is the fee of the program, it should be a number<br>
    "quota" is the number of quota of the program, it should be a number<br>
    "quota_left" is the number of quota left, it should be a number<br>
    "min_age" is the minimum age limit, it should be a number<br>
    "max_age" is the maximum age limit, it should be a number<br>
    "url" is the url of the program<br>
    </small>
  </p>
</div>
</div>
