<!-- Name: Lai Chun Hin     SID: 1155064573
     Name: Chan Wang Wai    SID: 1155063885
     Name: Fong Kee Win     SID: 1155100567  -->

<mat-toolbar-row><h2 id="homeTitle"> Community Recreation and Sports Programme</h2></mat-toolbar-row><br>

<nav *ngIf="!isEvent" mat-tab-nav-bar dynamicHeight mat-stretch-tabs="always">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  <br>
  <router-outlet></router-outlet>
  <p id="description" class="mt-1"> Information on leisure activities to be held one and a half months later uploaded on the 15th of each month (e.g. information on activities in July will be made available on 15 May)</p>


